import * as React from 'react';
import {Div, Text} from '~/components/Basics';
import { I{{pascalCase name}} } from '~/pages/{{pascalCase name}}/{{pascalCase name}}.types'

export const {{pascalCase name}} = (props: I{{pascalCase name}}.IView) => (
  <Div flex={1} center testID={`{{pascalCase name}}`}>
    <Text color="ORANGE">{`{{pascalCase name}}`}</Text>
  </Div>
)